[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ritusingh16
[access "refs/for/refs/*"]
	read = group user/ritusingh16
	push = group user/ritusingh16
	label-Code-Review = -2..+2 group user/ritusingh16
	label-Verified = -1..+1 group user/ritusingh16
	rebase = group user/ritusingh16
	removeReviewer = group user/ritusingh16
	submit = group user/ritusingh16
[access "refs/heads/*"]
	read = group user/ritusingh16
	create = group user/ritusingh16
	push = +force group user/ritusingh16
	pushMerge = group user/ritusingh16
[access "refs/tags/*"]
	push = +force group user/ritusingh16
	pushTag = group user/ritusingh16
	pushSignedTag = group user/ritusingh16
